/* -- Body CSS -- */
body {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: #2C578C;
}

/* -- Navbar CSS -- */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 55px;
  width: 100%;
  padding: 0;
  background-color: #2D3639;
  color: #fff;
  position: fixed;
  top: 0;
  font-family: 'Poppins', sans-serif;
  z-index: 4;
}

.logo {
  font-size: 20px;
  margin-left: 2em;

}

.navButtons {
  display: flex;
  height: 55px;
  align-items: center;
  justify-content: flex-end;
  margin: 0 .4em 0 0;
}

.navLinks {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0;
}

.navLinks li{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  margin-left: .2em;
}

.navLinks a {
  color: #fff;
  text-decoration: none;
  font-size: 14px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1em;
  border: 2px solid transparent;
  box-sizing: border-box;
}

/* .navLinks a p{
  display: none;
}

.navLinks a:hover p, .navLinks a.hover p{
  display: block;
} */

.navLinks a:hover {
  background: #242a2e;
  color: #92b4dd;
  transition: color .5s ease, background-color 1s ease;
  border-bottom: #92b4dd 2px solid;
}

.navLinks a:active {
  background: #1b1f22;
}

.resumeButtonContainer {
  height: 60px;
  display: flex;
  align-items: center;
}

.verticalLine {
  height: 43px;
  width: 1px;
  background-color: #3F4B50;
  margin: 0 .6em 0 .4em;
}

.resumeButton {
  margin: 0 .7em;
  padding: .05em .2em;
  border-radius: 6%;
  border: 1px solid #fff;
  cursor: pointer;
}

.resumeButton a {
  color: #fff;
  text-decoration: none;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid transparent;
  box-sizing: border-box;
}

.resumeButton:hover{
  background-color: #242a2e;
  border-color: #92b4dd;
  transition: background-color .5s ease;
}

.resumeButton:hover a, .resumeButton.hover a {
    color: #92b4dd;
    transition: color .5s ease;
}

.resumeButton:active{
  background-color: #1b1f22;
}

.burger {
  display: none;
  margin: 0 .5em 0 .1em;
  padding: 5px;
  z-index: 5;
}

.burger:hover {
  background: #242a2e;
}

.burger:hover div, .burger.hover div {
    background-color: #92b4dd;
}

.burger:active {
  background: #1b1f22;
}

.burger div {
  width: 23px;
  height: 2px;
  background-color: #fff;
  margin: 5px;
  transition: all 0.3s ease;
}

@media screen and (max-width: 768px) {
  .navButtons{
    margin:0;
  }

  .navLinks{
    position: absolute;
    right: 0px;
    height: 180px;
    top: 60px;
    flex-direction: column;
    background-color: #364145;
    margin: .2em .5em 0 0;
    width: 146px;
    display: none;
  }
  .navLinks li {
    width: 100%;
    opacity: 0;
  }
  .navLinks a{
    width: 100%;
    height: 45px;
    justify-content: flex-start;
  }

  .resumeButtonContainer {
    flex-direction: row-reverse;
  }

  .burger {
    display: block;
    cursor: pointer;
  }

  .navLinks a:hover {
    background: #242a2e;
    color: #92b4dd;
    transition: color .5s ease, background .5s ease;
    border-left: #92b4dd 2px solid;
    border-bottom: 2px solid transparent;
  }
}

.navActive{
  display: flex;
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateY(-5px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

/* .toggle .line1 {
  transform: rotate(225deg) translate(-5px, -5px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(315deg) translate(5px, -5px);
} */

.toggle {
  background-color: #242a2e;
}

/* -- Hero Image CSS -- */

.heroBackground {
  height: 100vh;
  background-color: #0e1324;
  display: flex;
  justify-content: center;
  align-items: center;
}

.heroImage {
  display: flex;
  height: 100%;
  width: 100%;

  background-image: url(../resources/HeroImage.svg);
  background-position: center;
  background-size: cover;
}

.heroTextBox {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  color: #fff;

  align-items: center;
  justify-content: center;
  text-align:center;
  margin: 0;
}

.heroLine {
  height: 2px;
  background-color: #fff;
  width: 37em;
  margin-bottom: 4px;
}

@media screen and (max-width: 35.4em) {
  .intro{
    display: none;
  }
  .heroLine {
    width: 26em;
  }
}

.titleText {
  font-weight: 700;
  font-size: 3em;
  margin: .2em;
}

.myName {
  color: #a2bfe2;
}

.heroTextSmall h5 {
  margin: .25em;
  font-size: 1.6em;
  font-weight: 400;
}

@media screen and (max-width: 400px) {
  .titleText {
    font-size: 2em;
    margin: .13em;
  }

  .heroLine {
    width: 17.2em;
  }

  .heroTextSmall {
    margin: 0;
    font-size: .7em;
  }
}

/* -- Main Content CSS -- */
.mainContent {
  /* margin: 5vw; */
  font-size: 19px;
  background: repeat url(../resources/noise.png) 0 0;
}

.container {
  padding: 2em;
}

/* -- About Me CSS -- */
.aboutMe {
  display: flex;
  justify-content: center;
  padding: 3em;
  padding-top: 5em;
}

.aboutMeContent {
  display: flex;
  justify-content: center;
}

.profilePic {
  width: 20em;
  height: 30em;
  filter: grayscale(100%);

  background-image: url(../resources/profile2.jpg);
  background-position: center;
  background-size: cover;
}

.column1 {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.aboutHeader {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 3em;
  color: #fff;
  width: 5.7em;
  height: 1.5em;
  display: flex;
  justify-content: center;
  background-color: #364145;
  position: relative;
  left: 5em;
  bottom: 9.3em;
}

.column1 .horizontalLine{
  border-top: 2px solid #000;
  padding-top: .2em;
  width: 100%;
  height: 0;
  overflow: hidden;
  display: none;
}

.column1 .horizontalLine::before, .column1 .horizontalLine::after {
  content: "";
  display: block;
  background-color: #000;
  height: .3em;
  width: .4em;
  position: relative;
}

.column1 .horizontalLine::before{
  left: 0;
  bottom: .49em;
  transform-origin: left bottom;
  transform: rotate(20deg);
}
.column1 .horizontalLine::after{

  left: 97.52%;
  bottom: .65em;
  transform-origin: left bottom;
  transform: rotate(-20deg);
}

.column2 {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
}

.headerSpacer{
  height: 9em;
}

.column2 p {
  margin-top: 0;
  line-height: 1.3em;
}

.aboutWords {
  max-width: 40em;
  min-width: 16em;
}

@media screen and (max-width: 768px) {
  .container {
    padding: 1em;
  }

  .aboutMeContent{
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .profilePic{
    height: 13em;
    width: 13em;
    border-radius: 50%;
  }

  .column2 {
    padding-top: 0;
  }

  .aboutHeader {
    left: 0;
    bottom: 0;
    margin-top: .2em;
    font-size: 2.5em;
    background-color: transparent;
    color: #000;
    width: 100%;
  }

  .aboutWords {
    min-width: 0;
    justify-content: flex-start;
  }

  .column1 .horizontalLine {
    display: block;
    position: relative;
  }

  .headerSpacer{
    height: 0px;
  }
}
