/* -- Body CSS -- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section p {
  margin: 1rem 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
}

h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 3rem;
  margin: 0;
  padding: 0;
}

p {
  line-height: 1.5rem;
}

.noScroll {
  overflow: hidden;
}

a {
  color: #2C578C;
}

/* -- Navbar CSS -- */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 55px;
  width: 100vw;
  background-color: #2D3639;
  color: #fff;
  position: fixed;
  top: 0;
  font-family: 'Poppins', sans-serif;
  z-index: 4;
}

.logoLink {
  height: 23px;
  display: flex;
  color: #fff;
  text-decoration: none;
  margin-left: 2rem;
}

.logo {
  height: 23px;
  fill: #fff;
}

.logoName {
  overflow: hidden;
  font-size: 17px;
  margin-left: .6rem;
  line-height: 23px;
}

/* .logoName p {
  opacity: 1;
} */

.logoLink:hover .logo, .logoLink.hover .logo, .logoLink:hover{
  fill: #92b4dd;
  color: #92b4dd;
}

.navButtons {
  display: flex;
  height: 55px;
  align-items: center;
  justify-content: flex-end;
  margin: 0 .3rem 0 0;
}

.navLinks {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0;
}

.navLinks li{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  /* opacity: 0; */
  margin-left: .1rem;
}

.navLinks a {
  color: #fff;
  text-decoration: none;
  font-size: 14px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 .7rem;
  border: 2px solid transparent;
  box-sizing: border-box;
}

/* .navLinks a p{
  display: none;
}

.navLinks a:hover p, .navLinks a.hover p{
  display: block;
} */

.navLinks a:hover {
  background: #242a2e;
  color: #92b4dd;
  transition: color .5s ease, background-color 1s ease;
  border-bottom: #92b4dd 2px solid;
}

.navLinks a:active {
  background: #1b1f22;
  transition: none;
}

.resumeButtonContainer {
  height: 60px;
  display: flex;
  align-items: center;
}

.verticalLine {
  height: 43px;
  width: 1px;
  background-color: #3F4B50;
  margin: 0 .5rem 0 .4rem;
}

.resumeButton {
  margin: 0 .7rem;
  padding: .05rem .2rem;
  border-radius: 3px;
  border: 1px solid #fff;
  cursor: pointer;
}

.resumeButton a {
  color: #fff;
  text-decoration: none;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid transparent;
  box-sizing: border-box;
}

.resumeButton:hover{
  background-color: #242a2e;
  border-color: #92b4dd;
  transition: background-color .5s ease;
}

.resumeButton:hover a, .resumeButton.hover a {
    color: #92b4dd;
    /* transition: color .5s ease; */
}

.resumeButton:active{
  background-color: #1b1f22;
  transition: none;
}

.burger {
  display: none;
  margin: 0 .5em 0 .1rem;
  padding: 5px;
  z-index: 5;
}

.burger:hover {
  background: #242a2e;
}

.burger:hover div, .burger.hover div {
    background-color: #92b4dd;
}

.burger:active {
  background: #1b1f22;
}

.burger div {
  width: 23px;
  height: 2px;
  background-color: #fff;
  margin: 5px;
  transition: all 0.3s ease;
}

@media screen and (max-width: 768px) {
  .navButtons{
    margin:0;
  }

  .navLinks{
    position: absolute;
    /* right: 0px; */
    height: 180px;
    top: 55px;
    flex-direction: column;
    background-color: #364145;
    margin: .2em .5em 0 0;
    width: 146px;
    display: none;
    transition: all .5s ease;
    pointer-events: none;
  }
  .navLinks li {
    display: none;
    width: 100%;
    opacity: 0;
    margin: 0;
  }
  .navActive li {
    display: block;
  }
  .navLinks a{
    width: 100%;
    height: 45px;
    justify-content: flex-start;
  }
  .navActive {
    display: flex;
    pointer-events: all;
    top: 60px;
  }

  .resumeButtonContainer {
    flex-direction: row-reverse;
  }

  .burger {
    display: block;
    cursor: pointer;
  }

  .navLinks a:hover {
    background: #242a2e;
    color: #92b4dd;
    transition: color .5s ease, background .5s ease;
    border-left: #92b4dd 2px solid;
    border-bottom: 2px solid transparent;
  }
}

@media screen and (max-width: 400px) {
  .logoName {
    display: none;
  }

  .logoLink, .logo {
    height: 29px;
  }
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateY(-5px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

/* .toggle .line1 {
  transform: rotate(225deg) translate(-5px, -5px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(315deg) translate(5px, -5px);
} */

.toggle {
  background-color: #242a2e;
}

/* -- Hero Image CSS -- */

.hero {
  height: 100vh;
  background-color: #0e1324;
  padding: 0;
  justify-content: center;
  align-items: center;
}

.heroImage {
  display: flex;
  height: 100%;
  width: 100%;

  background-image: url(../resources/HeroImage.svg);
  background-position: center;
  background-size: cover;
}

.heroTextBox {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  color: #fff;

  align-items: center;
  justify-content: center;
  text-align:center;
  margin: 0;
}

.heroText, .heroTextSmall {
  overflow: hidden;
}

.heroLine {
  height: 2px;
  background-color: #fff;
  width: 37rem;
  margin-bottom: 4px;
}

@media screen and (max-width: 37.5rem) {
  .intro{
    display: none;
  }
  .heroLine {
    width: 27rem;
  }
}

.titleText {
  font-weight: 600;
  font-size: 3rem;
  margin: .2rem;
}

.myName {
  color: #a2bfe2;
}

.heroTextSmall h5 {
  margin: .25rem;
  font-size: 1.6rem;
  font-weight: 400;
}

@media screen and (max-width: 400px) {
  .titleText {
    font-size: 2rem;
    margin: .13rem;
  }

  .heroLine {
    width: 17.2rem;
  }

  .heroTextSmall {
    margin: 0;
    font-size: .7rem;
  }
}

/* -- Main Content CSS -- */
.mainContent {
  /* margin: 5vw; */
  font-size: 19px;
  background: repeat url(../resources/noise.png) 0 0;
}

.container {
  padding: 1rem 2rem;
}

section {
  padding: 3rem;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.sectionBox {
  display: flex;
  justify-content: center;
  max-width: 70rem;
}

/* -- About Me CSS -- */
#about {
  padding-top: 5rem;
}

.profilePic {
  width: 20rem;
  height: 30rem;
  filter: grayscale(100%);

  background-image: url(../resources/profile2.jpg);
  background-position: center;
  background-size: cover;
}

.column1 {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.aboutHeader {
  color: #fff;
  width: 18rem;
  height: 4.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #364145;
  position: relative;
  left: 14.5rem;
  bottom: 28rem;
}

.column1>.horizontalLine {
  border-top: 2px solid #3b74ba;
  display: none;
}

.horizontalLine{
  padding-top: .2rem;
  width: 100%;
  height: 0;
  overflow: hidden;
  display: block;
}

.column1>.horizontalLine::before, .column1>.horizontalLine::after {
  background-color: #3b74ba;
}

.horizontalLine::before, .horizontalLine::after {
  content: "";
  display: block;
  height: .3rem;
  width: .4rem;
  position: relative;
}

.horizontalLine::before {
  left: 0;
  bottom: .5rem;
  transform-origin: left bottom;
  transform: rotate(20deg);
}

.horizontalLine::after {
  bottom: .8rem;
  transform-origin: right bottom;
  transform: rotate(-20deg);
}

.column1>.horizontalLine::after {
  left: 97%;
}

.column2 {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
}

.headerSpacer{
  height: 9rem;
}

.column2 p {
  margin-top: 0;
}

.aboutWords {
  min-width: 16rem;
}

@media screen and (max-width: 768px) {
  .container {
    padding: 1rem;
  }

  #about>.sectionBox{
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .profilePic{
    height: 13rem;
    width: 13rem;
    border-radius: 50%;
  }

  .column2 {
    padding-top: 0;
  }

  .aboutHeader {
    left: 0;
    bottom: 0;
    margin-top: .2rem;
    /* font-size: 2.5rem; */
    background-color: transparent;
    align-items: flex-end;
    color: #121416;
    width: 100%;
  }

  .aboutWords {
    min-width: 0;
    justify-content: flex-start;
  }

  .column1>.horizontalLine {
    display: block;
    position: relative;
  }

  .headerSpacer{
    height: 0px;
  }
}

/* -- Skills CSS -- */
#skills {
  background-color: #121416;
  color: #ece8e1;
}

#skills>.sectionBox {
  justify-content: space-between;
  flex-wrap: wrap;
}

.skillsWords {
  width: 45%;
  display: flex;
  /* align-items: center; */
  flex-direction: column;
  padding-right: 0;
}

.skillsHeader {
  letter-spacing: .05em;
  height: 4.5rem;
  display: flex;
  /* justify-content: center; */
  align-items: center;
}

.skillsWords>.horizontalLine{
  display: block;
  border-top: 2px solid #3b74ba;
  width: 5rem;
  margin-left: .2rem;
}

.skillsWords>.horizontalLine::before {
  background-color: #3b74ba;
}

.skillsDescription {
  margin-top: 1rem;
}

.skillsLists{
  width: 42%;
  /* margin-top: 1rem; */
  padding-left: 0;
}

.development, .design{
  margin-top: 2.5rem;
}

.skillsSubheader {
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
}

.skillsBox {
  padding-left: 5%;
  /* display: grid; */
  margin-top: 1rem;
  /* grid-template-columns: repeat(auto-fit, minmax(7.5rem, 1fr));
  grid-gap: .5rem; */
}

.skillItem{
    display: flex;
    padding: .5rem 1rem;
    border: 2px solid #364145;
}

@media screen and (max-width: 768px) {
  .skillsWords, .skillsLists{
    width: 100%;
    padding: 1rem;
  }
}

/* -- Works CSS --*/
#works>.sectionBox{
  flex-direction: column;
  width: 100%
}

.worksHeader {
  color: #090A0B;
}

.worksTitle>.horizontalLine{
  display: block;
  border-top: 2px solid #3b74ba;
  width: 5rem;
  margin-left: .2rem;
}

.worksTitle>.horizontalLine::before {
  background-color: #3b74ba;
}

.gallery {
  margin-top: 1.5rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  grid-row-gap: 3rem;
  grid-column-gap: 2rem;
}

.cardSpacer {
  display: flex;
  justify-content: center;
  height: 23rem;
}

.workCard {
  background-color: #121416;
  height: 21.5rem;
  width: 15rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border-radius: .2rem; */
  overflow: hidden;
  cursor: pointer;
  transition: all 0.1s ease;
}

.workCard:hover{
  /* height: 22.5rem;
  width: 15.3rem; */
  transform: scale(1.03);
  box-shadow: 5px 5px 6px black;
  /* transform: translateY(-.5rem); */
}

.cardImageBox{
  height: 50%;
  width: 100%;
}

.cardImageBox::after{
  content: "";
  display: block;
  position: relative;
  bottom: 40%;
  width: 100%;
  height: 40%;
  background: linear-gradient(180deg,rgba(207,198,191,0) 10%,#121416 90%);
}

.cardPreviewImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cardInfo {
  color: #ece8e1;
  height: 50%;
  display: flex;
  padding: 0 1rem;
  flex-direction: column;
  align-items: center;
}

.cardTitle {
  margin-top: 1rem;
  font-family: 'Poppins', sans-serif;
  font-size: 1.5rem;
}

.cardDescription {
  font-size: 1.1rem;
}

.cardOverlay {
  background-color: rgba(0, 0, 0, .9);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  opacity: 0;
  pointer-events: none;
  transition: all 0.25s ease-out;
}

.open {
  opacity: 1;
  pointer-events: all;
}

.cardFullBox {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
}

.spacer {
  pointer-events: none;
}

.cardFull {
  margin: 5rem 0;
  background-color: #ece8e1;
  width: 600px;
  /* border-radius: 5px; */
}

.cardFullImage {
  width: 100%;
  height: 370px;
  /* border-radius: 5px 5px 0 0; */
}

.cardFullTitle {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 2rem;
}

.cardFullInfo>.horizontalLine {
  border-top: 2px solid #3b74ba;
  width: 5.5rem;
}

.cardFullInfo>.horizontalLine::before {
  background-color: #3b74ba;
}

.cardFullDescription {
  margin-top: 1rem;
}

@media screen and (max-width: 768px) {
  .cardFull {
    width: 320px;
  }
  .cardFullImage {
    height: 200px;
  }
}

/* -- Contact CSS -- */
#contact {
  background-color: #121416;
  color: #ece8e1;
  padding-bottom: 3rem;
}

.contactContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contactContent>.horizontalLine {
  border-top: 2px solid #3b76ba;
  width: 14rem;
}

.contactContent>.horizontalLine::before, .contactContent>.horizontalLine::after {
  background-color: #3b76ba;
}

.contactContent>.horizontalLine::after {
  left: 13.6rem;
}

.contactNote {
  margin: 1.8rem 0 2.5rem 0;
  max-width: 26rem;
  text-align: center;
}

.contactButton {
  width: 10rem;
  height: 3rem;
  text-decoration: none;
  overflow: hidden;
}

.sliderBox {
  width: 24rem;
  height: 3rem;
  display: flex;
  transform: translateX(-14rem);
  transition: transform .2s ease;
}

.sliderBox:hover {
  transform: translateX(0);
}

.contactButtonText {
  text-align: center;
  line-height: 3rem;
  color: #ece8e1;
  font-family: 'Poppins', sans-serif;
  position: relative;
  bottom: 3rem;
  pointer-events: none;
}

.contactButtonBlue {
  width: 10rem;
  height: 3rem;
  background-color: #3b76ba;
}

.contactButtonSlantBox {
  width: 4rem;
  display: flex;
  flex-direction: column;
}

.contactButtonSlantTop {
  width: 4rem;
  box-sizing: border-box;
  border-top: 1.5rem solid #364145;
  border-left: 1rem solid transparent;
  background-color: #3b76ba;
}
.contactButtonSlantBot {
  width: 4rem;
  box-sizing: border-box;
  border-bottom: 1.5rem solid #364145;
  border-left: 1rem solid transparent;
  background-color: #3b76ba;
}

.contactButtonGray {
  background-color: #364145;
  width: 10rem;
  height: 3rem;
}

/* -- End Nav CSS */

.endNav {
  background-color: #121416;
  color: #ece8e1;
  flex-direction: column;
  align-items: center;
  padding-bottom: 1rem;
  /* justify-content: space-between; */
}

.contactIconBox{
  display: flex;
}

.contactIcon {
  display: block;
  padding: .25rem;
  margin: .25rem;
  height: 2rem;
  width: 2rem;
  /* background-color: #364145; */
}

.contactIcon svg {
  height: 100%;
  fill: #ece8e1;
}

.contactIcon:hover svg, .contactIcon.hover svg {
  transform: translateY(-.1rem);
}

.createdBy {
  /* margin-top: .1rem; */
  font-family: 'Poppins', sans-serif;
  font-size: .9rem;
}
