/* -- Body CSS -- */
body {
  font-family: 'PT-Sans', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* -- Navbar CSS -- */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 55px;
  padding: 0;
  background-color: #2D3639;
  color: #fff;
  position: fixed;
  width: 100%;
  top: 0;
  font-family: 'Poppins', sans-serif;
}

.logo {
  font-size: 20px;
  margin-left: 2em;

}

.navLinks {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0;
  margin: 0 2em 0 0;
  height: 100%;
}

.navLinks li{
  list-style: none;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  opacity: 0;
}

.navLinks a {
  color: #fff;
  text-decoration: none;
  font-size: 14px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1.5em;
}

.navLinks a:hover {
  background: #242a2e;
  color: #92b4dd;
}

.navLinks a:active {
  background: #1b1f22;
}

.burger {
  display: none;
  margin: 0 .5em 0 0;
  padding: 5px;
  z-index: 1;
}

.burger:hover {
  background: #242a2e;
}

.burger:hover div, .burger.hover div {
    background-color: #92b4dd;
}

.burger:active {
  background: #1b1f22;
}

.burger div {
  width: 23px;
  height: 2px;
  background-color: #fff;
  margin: 5px;
  transition: all 0.3s ease;
}

@media screen and (max-width: 768px) {
  .navLinks{
    position: absolute;
    right: 0px;
    height: 220px;
    top: 55px;
    flex-direction: column;
    background-color: #364145;
    margin: .2em .5em 0 0;
    width: 150px;
    display: none;
  }
  .navLinks li {
    width: 100%;
    height: 55px;
    opacity: 0;
  }
  .navLinks a{
    width: 100%;
    justify-content: flex-start;
  }

  .burger {
    display: block;
    cursor: pointer;
  }
}

.navActive{
  display: flex;
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateY(-5px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

/* .toggle .line1 {
  transform: rotate(225deg) translate(-5px, -5px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(315deg) translate(5px, -5px);
} */

.toggle {
  background-color: #242a2e;
}

/* -- Hero Image CSS -- */

.heroImage {
  height: 100vh;
  background-color: #0e1324;
  display: flex;
  justify-content: center;
  align-items: center;
}

.heroTextBox {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  color: #fff;

  background-image: url(../resources/HeroImage.svg);
  background-position: center;
  background-size: cover;

  align-items: center;
  justify-content: center;
  text-align:center;
  margin: 0;
}

#heroLine {
  height: 2px;
  background-color: #fff;
  width: 37em;
  margin-bottom: 4px;
}

@media screen and (max-width: 35.4em) {
  #intro{
    display: none;
  }
  #heroLine {
    width: 26em;
  }
}

#titleText {
  font-weight: 700;
  font-size: 3em;
  margin: .2em;
}

#myName {
  color: #92b4dd;
}

#heroTextSmall h5 {
  margin: .25em;
  font-size: 1.6em;
  font-weight: normal;
}

@media screen and (max-width: 400px) {
  #titleText {
    font-size: 2em;
    margin: .13em;
  }

  #heroLine {
    width: 16.5em;
  }

  #heroTextSmall {
    margin: 0;
    font-size: .75em;
  }
}

/* -- Main Content CSS -- */
.mainContent {
  /* margin: 5vw; */
}

.contentHeader {
  font-family: 'Poppins', sans-serif;
  font-weight: normal;
  font-size: 1.7em;
}

/* -- About Me CSS -- */
.aboutMe {
  background-color: #
}

.contentHeader{
  margin: 0;
}

.aboutMeContent {
  display: flex;
  flex-direction: row-reverse;
}

.profilePic {
  width: 15em;
  height: 15em;
  border-radius: 50%;

  background-image: url(../resources/profile.jpg);
  background-position: center;
  background-size: cover;
}
